<%= render 'shared/errors', obj: @recipe %>
<div class="row">
  <div class="col-md-12">
    <%= form_for(@recipe, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :name %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control", placeholder: "Name of Recipe", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :ingredients %>
        </div>
        <div class="col-md-3">
          <%= f.text_area :ingredients, maxlength: @maximum_length, id: 'ingredients', rows: 8, class: "form-control", placeholder: "Enter ingredients for the recipe" %>
          Chars left: <span id="counter" data-maximum-length="<%= @maximum_length %>"><%= @maximum_length %></span>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :directions %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :directions, maxlength: @max_length, id: 'directions', rows: 8, class: "form-control", placeholder: "Enter cooking instructions" %>
          Chars left: <span id="counter2" data-maximum-length="<%= @max_length %>"><%= @max_length %></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit class: "btn btn-primary btn-lg btn-xlarge" %>
        </div>
      </div>
    <% end %>
    <div class="col-md-4 col-md-offset-4 colormatch">
      [ <%= link_to "Cancel request and return to recipes listing", recipes_path %> ]
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var ingredients = $("#ingredients");
    var counter     = $("#counter");
    var max_length  = counter.data("maximum-length");

    ingredients.keyup(function() {
        counter.text(max_length - $(this).val().length);
    });

  });
  
  $(document).ready(function() {
      var directions = $("#directions");
      var counter     = $("#counter2");
      var max_length  = counter.data("maximum-length");
      
      directions.keyup(function() {
          counter.text(max_length - $(this).val().length);
      });

    });
</script>