<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Pantry Chefs: Healthy Meals & Dinner Ideas" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pantry Chefs is your source for Healthy Meals and great Dinner Ideas! Vegetarian recipes and recipes with meat the whole food spectrum!">
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
